<main id="root" class="group"></main>
<!-- <div id="menu">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#products">Products</a></li>
    <li><a href="#colorchart">Color Chart</a></li>
    <li><a href="#contactus">Contact Us</a></li>
  </ul>
</div> -->
