.control-panel{
  background: #f9f9f9;
  width: 70%;
  box-shadow: 0 0 15px #000;
  margin: 20px auto;
  padding: 15px;
  button{
    float: right;
    background: #aaa;
    padding: 5px 15px;
    line-height: normal;
    font-size: 11px;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    .loader{
      width: 50%;
      height: auto;
    }
    .control-main{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 10px;
      width: 100%;
      color: #333;
      ul{
        list-style: none;
      }
      .control-list{
        box-shadow: 0 0 3px #555;
        padding: 5px 15px;
        max-width: 350px;
        background: #eee;
        ul{
          padding: 0;
          white-space: nowrap;
          list-style: none;
          h1{
            margin: 0;
          }
          h1:first-of-type{
            margin-top: 5px;
          }
          li{
            margin: 10px auto;
            text-align: center;
            background: #ccc;
            a{
              display: block;
              border-bottom: 0px;
              margin-right: 6px;
            }
          }
          li:hover{
            background: #aaa;
          }
        }
      }
      .control-content{
        box-shadow: 0 0 3px #555;
        padding: 5px 10px;
        margin-left: 20px;
        width: 100%;
        padding: 10px 20px;

        .add-form{
          color: #555;

          input{
            margin: 10px 0;
            background: #eee;
            box-shadow: 0 0 2px #aaa;
          }

          input:checkbox{

          }

          .drop_file{
            display: none;
          }


          label{
            color: #222;
            text-align: center;
            cursor: pointer;
            font-size: 12px;
            strong{
              font-weight: bold;
              color: inherit;
            }

          }

          .checkbox{
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 18px;
            input{
              margin-right: 15px;
            }
          }
          .delete-length{
            padding: 1px 6px;
            font-size: 15px;
            border-radius: 5px;
            color: #c00;
            display: inline-block;
            border: none;
            background: rgba(210, 0, 0, 0.35);
          }

        }
      }
    }
  }

}


img.img{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: block;
}

img.brand-img{
  width: 50%;
  height: auto;
}

img.product-img{
  width: 50%;
  height: auto;
}
