.control-panel{
  background: #f9f9f9;
  width: 70%;
  box-shadow: 0 0 15px #000;
  margin: 20px auto;
  padding: 15px;
  button{
    float: right;
    background: #aaa;
    padding: 5px 15px;
    line-height: normal;
    font-size: 11px;
  }
  h1{
    text-align: center;
    color: #333;
  }
}
